@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-sans: var(--lexend-font), sans-serif;

  --color-*: initial;
  --color-transparent: transparent;

  --color-white: #ffffff;
  --color-yellow: #fbb829;
  --color-slate: #334155;

  --font-weight-*: initial;
}

.webcam-icon,
.user-location-icon {
  width: var(--cam-size, 36px) !important;
  height: var(--cam-size, 36px) !important;
  margin-left: calc(var(--cam-size, 36px) / -2) !important;
}

.webcam-icon {
  margin-top: calc(var(--cam-size, 36px) / -2) !important;
}

.user-location-icon {
  margin-top: calc(var(--cam-size, 36px) * -1) !important;
}
