@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-sans: var(--lexend-font), sans-serif;

  --color-*: initial;
  --color-transparent: transparent;

  --color-white: #ffffff;
  --color-yellow: #fbb829;
  --color-slate: #334155;

  --font-weight-*: initial;
}
