@import 'tailwindcss';

/* Toggle dark mode manually */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-*: initial;
  --font-sans: var(--lexend-font), sans-serif;

  --color-*: initial;
  --color-transparent: transparent;

  --color-white: #ffffff;
  --color-yellow: #fbb829;
  --color-slate: #334155;

  --font-weight-*: initial;

  --animate-move-background: move-bg 120s linear infinite;
  --animate-move-background-faster: move-bg 60s linear infinite;

  @keyframes move-bg {
    from {
      background-position: '1000px 0';
    }
    to {
      background-position: '0 0';
    }
  }
}
